    $--naviBlue: #161439;
    $DarkGray: #343A40;
    $purple: #5751E1;
    $Gray: #8D9DB5;
    $yellow: #FFC224;
    $lightGray: #D3D2DF;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .SemiBold {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.75px;
        text-transform: capitalize;
        color: #161439;
    }

    .BlueButton {
        background-color: $purple;
        width: 202.22px;
        height: 49.91px;
        background: #5751E1;
        box-shadow: 4px 6px 0px #050071;
        border-radius: 50px;
        color: #fff;
    }

    img {
        cursor: pointer;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .btn {
        background-color: $yellow;
        border: none;
    }

    input {
        border: none;
        outline: none;
    }

    .nav-Block {
        .logo {
            height: 38px;
        }

        .upperContent {
            padding: 10px 7%;
            background-color: $--naviBlue;

            .col-sm-6 {
                p {
                    display: inline;
                    color: #fff;
                    font-size: 14px;
                    padding: 0 0 0 10px;

                    img {
                        padding: 0 5px 0 5px;
                    }
                }
            }

            .col-sm-6:last-child {
                padding-left: 10px;
            }
        }

        .nav-LowerContent {

            padding: 24px 7% 0 7%;

            ul {
                margin-left: 5%;
            }

            .logo {
                width: 153px;
            }

            .LowerContent-right {
                justify-content: space-between;
            }

            .searchBar {
                width: 70%;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 0 10px;
                flex-shrink: 0;

                input {
                    width: 40%;

                }

                border: 1px solid $lightGray;
                border-radius: 100px;
            }

            .user {
                flex-shrink: 0;
            }

            .Cart {
                padding: 0 5px;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    ul li {
        display: inline;
        list-style-type: none;
        color: $--naviBlue;

        a {
            color: $--naviBlue;
            font-size: 16px;
            padding: 0 0 0 10px;
        }
    }

    .banner-Block {
        margin-top: 24px;
        height: auto;
        background: linear-gradient(299deg, rgba(245, 231, 240, 0.9754026610644257) 0%, rgba(192, 192, 221, 0.8493522408963585) 100%, rgba(22, 20, 57, 0.6840861344537815) 100%);

        .LeftBanner {
            padding: 0 0 0 6.5%;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 60px;
                color: #161439;

                span {
                    font-size: 40px;
                    padding: 0 20px 5px 20px;
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }

            .yellowBg {
                background-image: url('../assets/Images/yellowBg.png');
                background-size: auto 100%;
                background-repeat: no-repeat;
            }

            p {
                padding: 0 0 34px 0;
            }
        }

        .RightBanner {
            padding: 60px 12.5% 0 0;

            img {
                height: 460px;
                width: 100%;
            }
        }


    }